<ion-popover-view title="Home Squadra GP" style="left: 5%; width: 85%;">
   <ion-header-bar class="bar-positive">
        <button class="button button-icon" ng-click="closePopover()">
          		<i class="icon ion-arrow-left-b"> Comunicazioni ufficiali: {{teamInfo.data.news.length}}</i>
       	</button>
       
   </ion-header-bar>
   <ion-content class='has-header'>
     <ion-list>
        <ion-item ng-repeat="cuf in teamInfo.data.news" class="item-text-wrap">
            <div ng-bind="formatDate(cuf.dt_ins)"></div>
            <div ng-bind-html="renderHtml(cuf.testo)"></div>
        </ion-item>
    </ion-list> 
  <ion-content>
</ion-popover-view>