<ion-view title="Home Squadra GP">
  <ion-content scroll="true" delegate-handle="scrollComuff"  >
       <div>
        {{team.lega.dsCampionato}}
        </div>      
        <div>
        Questa è la home della squadra {{team.dsSquadra}}</br>
        Allenatore: {{userData.data.nome}} {{userData.data.cognome}}
        </div>
        <div>
            Ultimo risultato (tot punti): {{teamInfo.data.ultimoRisultato.tot_punti}} 
            Posizione in classifica: {{teamInfo.data.posClass}}
        </div>
        <div>
            <button class="button button-block" ng-click="openPopover($event)">
                Comunicazioni ufficiali: {{teamInfo.data.news.length}}
            </button>
        </div>
  </ion-content>
</ion-view>
