<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- jquery -->
    <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services/main.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/HomeController.js"></script>
  </head>
  <body ng-app="magic" ng-controller="Main">
	<ion-side-menus>
	
	  <ion-side-menu-content>
		  <ion-header-bar class="bar-dark">
		    <button class="button button-icon" ng-click="toggleSideMenu()">
          		<i class="icon ion-navicon"></i>
        	</button>
	        <h1 class="title">Header bar in side menu content</h1>
	        <button class="button icon-right ion-home" ui-sref="home"><i class="icon ion-homeicon"></i></button>
	      </ion-header-bar>
	    <ion-nav-view></ion-nav-view>
	  </ion-side-menu-content>
	  
	  <!-- Left menu -->
	  <ion-side-menu side="left">
	      <ion-content ng-show="isLoggedIn()">
	         <button class="button button-full button-positive icon-right ion-android-exit" ng-click="logout()">
  				{{userData.data.nome}} {{userData.data.cognome}} 
			 </button>	  
			 <ion-list>
          		<ion-item ng-repeat="team in userTeams.data.teams">
            		
            		<button class="button button-full icon-right ion-arrow-right-c" ng-click="homeSquadra(team)">{{team.dsSquadra}}</button>
          		</ion-item>
        	</ion-list>       
	         
	      </ion-content>
	  </ion-side-menu>
	
	</ion-side-menus>
  </body>
</html>
