<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <!-- jquery -->
  <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/services/main.js"></script>
  <script src="js/controllers/LoginController.js"></script>
  <script src="js/controllers/HomeController.js"></script>
</head>

<body ng-app="magic" ng-controller="Main">
  <ion-side-menus>

    <ion-side-menu-content>
      <ion-header-bar class="bar-positive">
        <button class="button button-icon" ng-click="toggleSideMenu()">
          		<i class="icon ion-navicon"></i>
        	</button>
        <h1 class="title">{{pageTitle}}</h1>
        <button class="button icon-right ion-home" ui-sref="home"><i class="icon ion-homeicon"></i></button>
      </ion-header-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
      <ion-header-bar class="bar-positive">
  		 <h2 class="title">{{userData.data.nome}} {{userData.data.cognome}}</h2> 
       <button class="button button-icon icon-right ion-android-exit" ng-click="logout()">
			 </button>
      </ion-header-bar>
      <ion-content ng-show="isLoggedIn()">        
        <ion-list>
          <ion-item class="no-padding" ng-repeat="team in userTeams.data.teams">           
            <button ng-if="isChosen(team)" class="button button-light button-full icon-right ion-checkmark no-margin-vert" ng-click="homeSquadra(team)">
              {{team.dsSquadra}}
            </button>
            <button ng-if="!isChosen(team)" class="button button-full icon-right ion-ios-arrow-forward no-margin-vert" ng-click="homeSquadra(team)">
              {{team.dsSquadra}}
            </button>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</body>

</html>